<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <div class="copyright text-center text-xl-left text-muted">
                &copy; 2019 <a href="#" class="font-weight-bold ml-1" >المُدَرِّس</a>
              </div>
            </ul>
          </div>
        </div>
        
