<!-- Favicon -->
<link href="${pageContext.request.contextPath}/resources/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="${pageContext.request.contextPath}/resources/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/vendor/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet">
<!-- Argon CSS -->
<link type="text/css" href="${pageContext.request.contextPath}/resources/css/argon.css?v=1.0.0" rel="stylesheet">
<!--  arabic -->
<link href="${pageContext.request.contextPath}/resources/bootstrap-rtl.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/bootstrap-rtl.min.css" rel="stylesheet">
<!-- date -->
<link href="${pageContext.request.contextPath}/resources/css/jquery-ui.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/css/jquery-ui.min.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/css/jquery-ui.structure.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/css/jquery-ui.structure.min.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/css/jquery-ui.theme.css" rel="stylesheet">
<link href="${pageContext.request.contextPath}/resources/css/jquery-ui.theme.min.css" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">-->
<link href="${pageContext.request.contextPath}/resources/css/jquery.dataTables.css" rel="stylesheet">

<!--<link
        href="${pageContext.request.contextPath}/resources/css/datatable.css"
        rel="stylesheet" type="text/css"/>-->
<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap"
      rel="stylesheet">
<style>
    p {
        display: inline-block;
    }


</style>