<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>الاستاذ</title>

    <link rel="icon" href="${pageContext.request.contextPath}/resources/img/core-img/favicon.ico">

    <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/style.css">
    
  </head>