 <script src="${pageContext.request.contextPath}/resources/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="${pageContext.request.contextPath}/resources/js/bootstrap/popper.min.js"></script>
    <script src="${pageContext.request.contextPath}/resources/js/bootstrap/bootstrap.min.js"></script>
    <script src="${pageContext.request.contextPath}/resources/js/plugins/plugins.js"></script>
    <script src="${pageContext.request.contextPath}/resources/js/active.js"></script>
     <script src="${pageContext.request.contextPath}/resources/js/datatable.js"></script>
 