
<link rel="stylesheet"
	href="${pageContext.request.contextPath}/resources/style.css">
<!-- <link rel="stylesheet" href="resources/scss/style.scss"> -->

<link rel="icon"
	href="${pageContext.request.contextPath}/resources/img/core-img/favicon.ico">
<link
	href="${pageContext.request.contextPath}/resources/bootstrap-rtl.css"
	rel="stylesheet">
<link
	href="${pageContext.request.contextPath}/resources/bootstrap-rtl.min.css"
	rel="stylesheet">


<link
	href="${pageContext.request.contextPath}/resources/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="${pageContext.request.contextPath}/resources/css/buttons.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link
	href="${pageContext.request.contextPath}/resources/css/responsive.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />


<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> -->
	
	<link
	href="${pageContext.request.contextPath}/resources/css/datatable.css"
	rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap"
	rel="stylesheet">
<style>
html * {
	font-family: 'Cairo', sans-serif;
}

#Container_jbeeb_14,#TextBox_jbeeb_15,#TextBox_jbeeb_19,#Container_jbeeb_18,#Container_jbeeb_10,#Container_jbeeb_6,#TextBox_jbeeb_11,#TextBox_jbeeb_7{
    visibility: hidden;
}


#clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: #00BF96; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: #00816A; 
    display: inline-block; 
} 
smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 

textarea {
 width: 80%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; 
     border-radius: 5px;
     border: 4px solid #ccc; 
     box-shadow: 1px 1px 1px #999;
     color: blue;
}

textarea:focus{
 border: 4px solid #ccc;
}


input[type=text] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; 
     border-radius: 5px;
     border: 4px solid #ccc; 
     box-shadow: 1px 1px 1px #999;
     color: blue;
     
}

p{
display: inline-block;
}


</style>

