<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<header class="header-area">

	<!-- Top Header Area -->
	<div
		class="top-header-area d-flex justify-content-between align-items-center">
		<!-- Contact Info -->
		<div class="contact-info">
			<a href="#"><span>Phone:</span> +201015394960</a> <a href="#"><span>Email:</span>
				rafaat@gmail.com</a>
		</div>
		<!-- Follow Us -->
		<div class="follow-us">
			<span>Follow us</span> <a href="#"><i class="fa fa-facebook"
				aria-hidden="true"></i></a> <a href="#"><i class="fa fa-instagram"
				aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter"
				aria-hidden="true"></i></a>
		</div>
	</div>

	<!-- Navbar Area -->
	<div class="clever-main-menu">
		<div class="classy-nav-container breakpoint-off">
			<!-- Menu -->
			<nav class="classy-navbar justify-content-between" id="cleverNav">

				<!-- Logo -->
				<a class="nav-brand" href="${contextPath}/">
				<h3>المُدَرِّس</h3>
<!-- 				<img -->
<!-- 					src="${pageContext.request.contextPath}/resources/img/core-img/logo.png" -->
<!-- 					alt=""> -->
					</a>

				<!-- Navbar Toggler -->
				<div class="classy-navbar-toggler">
					<span class="navbarToggler"><span></span><span></span><span></span></span>
				</div>

				<!-- Menu -->
				<div class="classy-menu">

					<!-- Close Button -->
					<div class="classycloseIcon">
						<div class="cross-wrap">
							<span class="top"></span><span class="bottom"></span>
						</div>
					</div>


					<!-- Nav Start -->
					<div class="classynav">
						<ul>
							<li><a href="${contextPath}/student/studentHistoryDegrees"><h4>سجل
										الطالب</h4></a></li>
							<li><a class="dropdown-item"
								href="${contextPath}/model/studentPrevModel"><h4>إمتحانات سابقة</h4></a></li>
							<li><a c
							lass="dropdown-item"
								href="${contextPath}/model/studentNextModel"><h4>إمتحانات قادمة</h4></a>
							</li>
							<li><a href="${contextPath}/video/list"><h4>فيديوهات</h4></a></li>
<!-- 							<li><a href="#"><h4>ذاكر مع الاستاذ</h4></a></li> -->
						</ul>

						<!-- Search Button -->
						<div class="search-area">
							<form action="#" method="post">
								<input type="search" name="search" id="search"
									placeholder="Search">
								<button type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>

						<!-- Register / Login -->
						<div class="login-state d-flex align-items-center">
							<div class="user-name mr-30">
								<div class="dropdown">
									<a class="dropdown-toggle" href="#" role="button" id="userName"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">${studentName}</a>
									<div class="dropdown-menu dropdown-menu-right"
										aria-labelledby="userName">
										<form action="${contextPath}/logout" method="POST">
											<input type="submit" class="dropdown-item" value="خروج" />
										</form>
										<!--                                             <a class="dropdown-item" href="index.html">خروج</a> -->
									</div>
								</div>
							</div>
							<div class="userthumb">
								<img src="${pageContext.request.contextPath}/img/bg-img/t1.png"
									alt="">
							</div>
						</div>

					</div>
					<!-- Nav End -->
				</div>
			</nav>
		</div>
	</div>
</header>